@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300');
@import "../node_modules/normalize-scss/sass/_normalize.scss";
@import '@/assets/styles/variables.scss';

.noselect { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.iScrollVerticalScrollbar { position: absolute; z-index: 9999; width: 7px; bottom: 2px; top: 2px; right: 1px; overflow: hidden; }
.iScrollHorizontalScrollbar { position: absolute; z-index: 9999; height: 7px; left: 2px; right: 2px; bottom: 2px; overflow: hidden; }
.iScrollIndicator { box-sizing: border-box; position: absolute; background: rgba(207, 216, 220, 0.25); border: auto; border-radius: 3px; width: 100%; transition-duration: 0ms; display: block; height: 115px; transform: translate(0px, 0px) translateZ(0px); }

html, body {
  margin: 0;
	background-color: $bg-color;
  font-family: Ubuntu, sans-serif;
  color: $basic-color;
}

a {
	text-decoration: none;
	color: $basic-color;
}

main {
  box-sizing: border-box;
	display: flex;
	height: 100vh;
}

aside {
	border-right: $aside-br-color dotted 1px;
	width: $aside-width;
  background-color: $aside-bg-color;
	font-family: 'Raleway';
	color: $basic-color;
}

aside header {
	display: flex;
  align-items: center;
	margin: 10px;
	font-size: 20px;
  cursor: default;

  > img {
    width: 40px;
    margin-right: 10px;
  }

  > h1 {
    margin: 0;
    font-size: 20px;
  }
}

aside nav ul {
	padding: 0 0 0 10px;
  list-style: none;

  > li {
    margin: 10px 0;
    font-weight: 500;

    > a {
      display: flex;
      align-items: center;

      > i {
        display: inline-block;
        margin-right: 10px;
        width: 40px;
        text-align: right;

        &:before {
          display: block;
          content: '';
          height: 20px;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
          -webkit-mask-position: right center;
          mask-position: right center;
          background-color: $basic-color;
        }
      }
    }
  }
}

aside nav ul li.active a, aside ul li a:hover, aside ul li a:focus {
	color: $hover-color;
}

aside nav ul li a:hover i, aside nav ul li.active a i {
  &:before {
    background-color: $hover-color;
  }
}

aside nav ul li a#about-me i, article#content #wrapper a#about-me i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M228.5 511.8l-25-7.1c-3.2-.9-5-4.2-4.1-7.4L340.1 4.4c.9-3.2 4.2-5 7.4-4.1l25 7.1c3.2.9 5 4.2 4.1 7.4L235.9 507.6c-.9 3.2-4.3 5.1-7.4 4.2zm-75.6-125.3l18.5-20.9c1.9-2.1 1.6-5.3-.5-7.1L49.9 256l121-102.5c2.1-1.8 2.4-5 .5-7.1l-18.5-20.9c-1.8-2.1-5-2.3-7.1-.4L1.7 252.3c-2.3 2-2.3 5.5 0 7.5L145.8 387c2.1 1.8 5.3 1.6 7.1-.5zm277.3.4l144.1-127.2c2.3-2 2.3-5.5 0-7.5L430.2 125.1c-2.1-1.8-5.2-1.6-7.1.4l-18.5 20.9c-1.9 2.1-1.6 5.3.5 7.1l121 102.5-121 102.5c-2.1 1.8-2.4 5-.5 7.1l18.5 20.9c1.8 2.1 5 2.3 7.1.4z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M228.5 511.8l-25-7.1c-3.2-.9-5-4.2-4.1-7.4L340.1 4.4c.9-3.2 4.2-5 7.4-4.1l25 7.1c3.2.9 5 4.2 4.1 7.4L235.9 507.6c-.9 3.2-4.3 5.1-7.4 4.2zm-75.6-125.3l18.5-20.9c1.9-2.1 1.6-5.3-.5-7.1L49.9 256l121-102.5c2.1-1.8 2.4-5 .5-7.1l-18.5-20.9c-1.8-2.1-5-2.3-7.1-.4L1.7 252.3c-2.3 2-2.3 5.5 0 7.5L145.8 387c2.1 1.8 5.3 1.6 7.1-.5zm277.3.4l144.1-127.2c2.3-2 2.3-5.5 0-7.5L430.2 125.1c-2.1-1.8-5.2-1.6-7.1.4l-18.5 20.9c-1.9 2.1-1.6 5.3.5 7.1l121 102.5-121 102.5c-2.1 1.8-2.4 5-.5 7.1l18.5 20.9c1.8 2.1 5 2.3 7.1.4z" class=""></path></svg>');
  }
}

aside nav ul li a#portfolio i, article#content #wrapper a#portfolio i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill=" " d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48zm-6 272H54c-3.314 0-6-2.678-6-5.992V117.992A5.993 5.993 0 0 1 54 112h134.118l64 64H458a6 6 0 0 1 6 6v212a6 6 0 0 1-6 6z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill=" " d="M464 128H272l-64-64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V176c0-26.51-21.49-48-48-48zm-6 272H54c-3.314 0-6-2.678-6-5.992V117.992A5.993 5.993 0 0 1 54 112h134.118l64 64H458a6 6 0 0 1 6 6v212a6 6 0 0 1-6 6z" class=""></path></svg>');
  }
}

aside nav ul li a#contact-me i, article#content #wrapper a#contact-me i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M440 6.5L24 246.4c-34.4 19.9-31.1 70.8 5.7 85.9L144 379.6V464c0 46.4 59.2 65.5 86.6 28.6l43.8-59.1 111.9 46.2c5.9 2.4 12.1 3.6 18.3 3.6 8.2 0 16.3-2.1 23.6-6.2 12.8-7.2 21.6-20 23.9-34.5l59.4-387.2c6.1-40.1-36.9-68.8-71.5-48.9zM192 464v-64.6l36.6 15.1L192 464zm212.6-28.7l-153.8-63.5L391 169.5c10.7-15.5-9.5-33.5-23.7-21.2L155.8 332.6 48 288 464 48l-59.4 387.3z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M440 6.5L24 246.4c-34.4 19.9-31.1 70.8 5.7 85.9L144 379.6V464c0 46.4 59.2 65.5 86.6 28.6l43.8-59.1 111.9 46.2c5.9 2.4 12.1 3.6 18.3 3.6 8.2 0 16.3-2.1 23.6-6.2 12.8-7.2 21.6-20 23.9-34.5l59.4-387.2c6.1-40.1-36.9-68.8-71.5-48.9zM192 464v-64.6l36.6 15.1L192 464zm212.6-28.7l-153.8-63.5L391 169.5c10.7-15.5-9.5-33.5-23.7-21.2L155.8 332.6 48 288 464 48l-59.4 387.3z" class=""></path></svg>');
  }
}

article#content #wrapper a#linkedin i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-2x"><path fill="currentColor" d="M100.3 480H7.4V180.9h92.9V480zM53.8 140.1C24.1 140.1 0 115.5 0 85.8 0 56.1 24.1 32 53.8 32c29.7 0 53.8 24.1 53.8 53.8 0 29.7-24.1 54.3-53.8 54.3zM448 480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V480z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="linkedin-in" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" class="svg-inline--fa fa-linkedin-in fa-w-14 fa-2x"><path fill="currentColor" d="M100.3 480H7.4V180.9h92.9V480zM53.8 140.1C24.1 140.1 0 115.5 0 85.8 0 56.1 24.1 32 53.8 32c29.7 0 53.8 24.1 53.8 53.8 0 29.7-24.1 54.3-53.8 54.3zM448 480h-92.7V334.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V480h-92.8V180.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V480z" class=""></path></svg>');
  }
}

article#content #wrapper a#github i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-github fa-w-16 fa-2x"><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="github" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-github fa-w-16 fa-2x"><path fill="currentColor" d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z" class=""></path></svg>');
  }
}

article#content #wrapper a#stack i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="stack-overflow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-stack-overflow fa-w-12 fa-2x"><path fill="currentColor" d="M293.7 300l-181.2-84.5 16.7-36.5 181.3 84.7-16.8 36.3zm48-76L188.2 95.7l-25.5 30.8 153.5 128.3 25.5-30.8zm39.6-31.7L262 32l-32 24 119.3 160.3 32-24zM290.7 311L95 269.7 86.8 309l195.7 41 8.2-39zm31.6 129H42.7V320h-40v160h359.5V320h-40v120zm-39.8-80h-200v39.7h200V360z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="stack-overflow" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-stack-overflow fa-w-12 fa-2x"><path fill="currentColor" d="M293.7 300l-181.2-84.5 16.7-36.5 181.3 84.7-16.8 36.3zm48-76L188.2 95.7l-25.5 30.8 153.5 128.3 25.5-30.8zm39.6-31.7L262 32l-32 24 119.3 160.3 32-24zM290.7 311L95 269.7 86.8 309l195.7 41 8.2-39zm31.6 129H42.7V320h-40v160h359.5V320h-40v120zm-39.8-80h-200v39.7h200V360z" class=""></path></svg>');
  }
}

article#content #wrapper a#twitter i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-2x"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-2x"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class=""></path></svg>');
  }
}

article#content #wrapper a#telegram i {
  &:before {
    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="telegram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-telegram fa-w-16 fa-2x"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z" class=""></path></svg>');
    mask-image: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fab" data-icon="telegram" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512" class="svg-inline--fa fa-telegram fa-w-16 fa-2x"><path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z" class=""></path></svg>');
  }
}

/*-------------------------*/

article#content {
	display: flex;
  align-items: flex-start;
	width: calc(100vw - #{$aside-width} - 21px); // 1 for aside border and 20 for content padding
	padding: 10px;
}

article#content img.mobileMenuButton {
	display: none;
	height: 40px;
  margin-right: 10px;
}

article#content header {
	overflow: auto;
  white-space: nowrap;
  width: 100%;
}

article#content header a {
	position: relative;
	padding: 10px;
	font-size: 14px;
	width: 160px;
	padding-right: 40px;
	cursor: default;
  border-bottom: 2px solid transparent;
	transition: border-color .3s ease-in-out;
	display: inline-block;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

article#content header a.active {
	border-bottom: solid 2px $hover-color;
}

article#content header a i {
  cursor: pointer;
}
article#content header a i:before {
	content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 14px;
  height: 14px;
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>');
  mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M193.94 256L296.5 153.44l21.15-21.15c3.12-3.12 3.12-8.19 0-11.31l-22.63-22.63c-3.12-3.12-8.19-3.12-11.31 0L160 222.06 36.29 98.34c-3.12-3.12-8.19-3.12-11.31 0L2.34 120.97c-3.12 3.12-3.12 8.19 0 11.31L126.06 256 2.34 379.71c-3.12 3.12-3.12 8.19 0 11.31l22.63 22.63c3.12 3.12 8.19 3.12 11.31 0L160 289.94 262.56 392.5l21.15 21.15c3.12 3.12 8.19 3.12 11.31 0l22.63-22.63c3.12-3.12 3.12-8.19 0-11.31L193.94 256z" class=""></path></svg>');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: right center;
  mask-position: right center;
  background-color: $basic-color;
}

article#content header a:hover i {
	border-bottom: 0px;
}

article#content header a.active i, article#content header a:hover i:hover {
	color: $hover-color;
}

article#content header a:not(.active):hover {
	border-bottom: 2px solid rgba(128, 203, 196, 0.75);
}

div#wrapper {
	position: absolute;
	top: 64px;
	bottom: 0px;
	width: inherit;
	z-index: 1;
	overflow: hidden;
	font-family: Courier, monospace;
}

div#wrapper div#scroller {
	margin: 0 10px 0 0;
	position: absolute;
	z-index: 1;
	min-width: 1000px;
	width: calc(100% - 10px);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	-o-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
	display: flex;
	line-height: 25px;
}

article#content #wrapper a {
  display: inline;
	color: $hover-color;
  white-space: normal;
}

article#content #wrapper a i {
  display: inline-block;

  &:before {
    content: '';
    display: inherit;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-bottom: 3px;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: right center;
    mask-position: right center;
    background-color: $hover-color;
  }
}

div#scroller .lines_number {
	width: 25px;
	margin-right: 15px;
	color: $hover-color;
	text-align: left;
}

div#scroller .lines_number.auto-height {
	height: 25px;
	overflow: hidden;
}

div#scroller .lines {
	width: calc(100% - 40px); //40px for lines-number
}

div#scroller .lines .inherit-width {
	width: calc(100vw - #{$aside-width} - 61px); //1 for aside border and 20 for content padding 40 for lines-number
}

div#wrapper.no-handler {
	top: 0px;
	padding-top: 68px;
}

div#wrapper.no-handler div#scroller {
	min-width: inherit;
	padding-bottom: 68px;
}

.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink {
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/*-------------------------*/

.line {
	display: block;
	min-height: 25px;
	line-height: 25px;
  min-width: 1000px;

  &.tab { margin-left: 19.2px; }
  &.dtab { margin-left: 32.9px; }
  &.ttab { margin-left: 57.6px; }
  &.multiline { min-height: 25px; border-bottom: 0px $bg-color dashed; }
  & .selector { color: $selector-color; }
  & .value { color: $value-color; }
  & .value a, & .value a:hover { color: $value-color !important; text-decoration: underline; }
  & .comment { color: $comment-color; }

  &.error {
    &:before {
      display: inline-block;
      content: '';
      position: absolute;
      left: 25px;
      width: 5px;
      height: 20px;
      background-color: $error-color;
    }
  }

  &.error-message {
    color: $error-color;
  }
}

.fold {
	display: none;
}

.toggleExpand {
  cursor: pointer;
	position: absolute;
	left: 20px;
  outline: none;
  border: none;
  width: 20px;
  background: none;
  text-align: center;
  color: inherit;
	font-size: 18px;
}

.portfolio-gallery {
  display: inline-block;
}

.portfolio-gallery img, .pswp__caption {
  display: none;
}

.portfolio-gallery figure {
  margin: 0;
  display: inline-block;

  & > a {
    display: initial !important;
  }
}

.portfolio-gallery figcaption {
  cursor: pointer;
  color: $value-color;
  text-decoration: underline;
  display: inline-block;
}

/** Contact me **/

::-webkit-input-placeholder { color: $basic-color; opacity: 0.9; transition: opacity 250ms ease-in-out; }
:focus::-webkit-input-placeholder { opacity: 0; }
:-ms-input-placeholder { color: $basic-color; transition: opacity 250ms ease-in-out; }
:focus:-ms-input-placeholder { opacity: 0; }
::-moz-placeholder { color: $basic-color; opacity: 1; transition: opacity 250ms ease-in-out; }
:focus::-moz-placeholder { opacity: 0; }
:-moz-placeholder { color: $basic-color; opacity: 1; transition: opacity 250ms ease-in-out; }
:focus:-moz-placeholder { opacity: 0; }

.contact-form .form-input, .contact-form .form-submit {
  display: block;
  overflow: hidden;
  padding: 0 5px 0 0;
}

.contact-form .form-input input, .contact-form .form-input textarea {
	border: 0;
	background: none;
	outline: 0;
	color: $basic-color;
	padding: 0;
	height: 24px;
	min-width: 30px!important;
	max-width: 400px !important;
	transition: width 0.1s ease;
	text-align:center;
}

input.input-field {
	border: 0;
	background: none;
	outline: 0;
	color: $basic-color;
	padding: 0;
	height: 24px;
	width: 400px !important;
	transition: width 0.1s ease;
  text-align: left;
  font: 16px/24px Courier, monospace;
}

textarea.input-field {
	border: 0;
	background: none;
	outline: 0;
	color: $basic-color;
	padding: 0;
	height: 24px;
	line-height: 25px;
	width: 400px !important;
	transition: width 0.1s ease;
	text-align: left;
	vertical-align: top;
	text-indent: 87px;
	margin-left: -87px;
  resize: none;
  font: 16px/25px Courier, monospace;
}

span.autosize {
	vertical-align: bottom;
}

button.form-submit {
	background: none;
	border: 0;
	outline: none;
	padding: 0px;
  text-decoration: underline;
  color: #C3E88D;
  font: 16px/24px Courier, monospace;
}

button.form-submit:disabled {
	text-decoration: none;
}

p.success { display: none; margin: 0; line-height: 25px; }
p.success span { color: $hover-color; }

/*---------------------*/

footer {
	margin-left: 10px;
	position: fixed;
	bottom: 0px;
	height: $footer-height;
}

@media screen and (max-width: 768px) {
	aside {
		width: $aside-responsive;
	}
	aside header h1, aside nav ul li a span {
    display: none;
	}
	aside header img {
		margin-right: 0px;
	}
	aside nav ul li a i {
		width: 30px;
	}
	aside footer {
		font-size: 13px;
	}
	article#content {
		width: calc(100vw - #{$aside-responsive} - 21px); //1 for aside border and 20 for content padding
	}
	div#scroller .lines .inherit-width {
		width: calc(100vw - #{$aside-responsive} - 61px); //1 for aside border and 20 for content padding 40 for lines-number
  }
	textarea.input-field {
		width: calc(100vw - #{$aside-responsive} - 91px) !important;
	}
}

@media screen and (max-width: 480px) {
	aside {
		display: none;
	}
	aside.mobile-menu {
		position: relative;
    z-index: 2;
		display: block;
		width: $aside-width;
	}
	aside.mobile-menu header h1 {
    display: block;
	}
	aside.mobile-menu nav ul li a span {
    display: inline-block;
	}
	aside.mobile-menu header img {
		margin-right: 10px;
	}
	aside.mobile-menu nav ul li a i.fa {
		font-size: 20px;
		margin-right: 10px;
	}
	aside.mobile-menu footer {
		font-size: 16px;
	}
	article#content.mobile-position {
		position: absolute;
	}
	article#content.mobile-position div#wrapper {
		position: fixed;
	}
	article#content {
		width: calc(100vw - 20px); // 20 for content padding
	}
	article#content img.mobileMenuButton {
		display: inline-block;
	}
	article#content header {
    width: calc(100% - 50px);
  }
  div#wrapper.no-handler {
		top: 64px;
    padding-top: 0px;
	}
	div#wrapper.no-handler div#scroller {
		padding-bottom: 0px;
	}
	div#scroller .lines .inherit-width {
		width: calc(100vw - 60px); //20 for content padding 40 for lines-number
	}
	textarea.input-field {
		width: calc(100vw - 91px) !important;
	}
}
