$bg-color: #263238;
$aside-bg-color: #1B2529;
$aside-br-color: #3D474C;
$basic-color: #CFD8DC;
$hover-color: #80CBC4;
$error-color: #E74C3C;
$footer-height: 30px;
$aside-width: 230px;
$aside-responsive: 60px;
$selector-color: #89ddff;
$value-color: #c3e88d;
$comment-color: #7F8C8D;
